<!-- {% include 'home.html' %}  it has effects on the page due to similar div and class with base html-->  
{% include 'base.html' %}
{% include 'home.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="event">
    {% block content %}
    {{ calendar }}
    {% endblock %}
  </div>

  <style>
    .event{
     background-color:white;
    }
  </style>

</body>

</html>