{% include 'core.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    
    
    <style>
                body{
            
            background-image:url(https://img.freepik.com/free-vector/group-college-university-students-hanging-out_74855-5251.jpg?size=626&ext=jpg) ;
    
            background-repeat: no-repeat;
            background-size: cover;
            opacity:-500px;
            height: 96vh;
        }

    </style>
</body>
</html>